#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.navbar {
  position: fixed; /* Fix the navbar to the left side */
  top: 0;
  left: 0;
  width: 10%; /* Set width to 10% of the screen */
  height: 100vh; /* Set height to 100% of the viewport height */
  background-color: whitesmoke; /* Set background color (optional) */
  padding: 1rem; /* Add some padding (optional) */
  display: flex; /* Add display: flex */
  flex-direction: column;
  align-items: center; 
}

.login-btn {
  background-color: blueviolet; /* Adjust button color as desired */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home-btn {
  background-color: blue; /* Adjust button color as desired */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-btns {
  display: flex; /* Add display: flex */
  flex-direction: row;
  align-items: center; /* Align buttons vertically */
}

.create-btn {

}

.matrix-name {

}

.list-nodes {
  display: flex; /* Add display: flex */
  flex-direction: column;
  align-items: center; 
}