#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 10%; 
  height: 100vh; 
  background-color: rgb(56, 0, 56); 
  padding: 1rem; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.login-btn {
  background-color: rgb(184, 126, 238); 
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn {
  background-color: blueviolet; 
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.greeting-msg {
  color: white;
  padding-bottom:.6rem;
}

.home-btn {
  background-color: blueviolet; 
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 0rem;
}

.create-matrix {
  background-color: blueviolet;
  color: white;
  padding: .2rem .2rem;
  margin-right: .6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-node {
  background-color: blueviolet; 
  color: white;
  padding: .2rem .2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.matrix-dropdown {
  /* make the background transparent */
  background-color: transparent;
}

.matrix-option {

}

.matrix-name {
  color: white;
  text-decoration: none;
}

.list-nodes {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.node-link {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 100;
}